Todos os arquivos dos dados foram considerados dentro de uma pasta databases contida na raiz do projeto

In [15]:
# Importando a biblioteca pandas e os

import pandas as pd
import os

In [16]:
# Definindo os anos correspondentes aos nomes dos arquivos

years = list(map(str, range(2010, 2021)))

In [17]:
# Adicionando a numeração de semestres aos anos
# O ano do indice correspondente será substituito pelo valor correspondente ao 1o semestre, enquanto que o segundo será alocado e adicionado ao indice seguinte
# Além disso, o ano de 2020 só possui dados do 1o semestre

for i in range(0, (len(years) - 1) * 2, 2):

    chosed_year = years[i]

    years[i] = chosed_year + '1'
    years.insert(i + 1, chosed_year + '2')

years[-1] = years[-1] + '1'

In [18]:
years

['20101',
 '20102',
 '20111',
 '20112',
 '20121',
 '20122',
 '20131',
 '20132',
 '20141',
 '20142',
 '20151',
 '20152',
 '20161',
 '20162',
 '20171',
 '20172',
 '20181',
 '20182',
 '20191',
 '20192',
 '20201']

In [19]:
# Importando os datasets de emprestimo, e concatenando os dados em um único DataFrame

df_emprestimos = pd.DataFrame()

for year in years:

    raw_url = rf"https://raw.githubusercontent.com/FranciscoFoz/7_Days_of_Code_Alura-Python-Pandas/refs/heads/main/Dia_1-Importando_dados/Datasets/dados_emprestimos/emprestimos-{year}.csv"

    df_emprestimos = pd.concat([df_emprestimos, pd.read_csv(raw_url)])

In [20]:
# Visualizando os 5 primeiros registros

df_emprestimos.head(5)

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar,colecao,biblioteca,status_material,localizacao,registro_sistema
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO,13259.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630.0,4225.0
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO,70865.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647.0,25009.0
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO,195347.0,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,640.0,75019.0
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,ALUNO DE GRADUAÇÃO,131639.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,609.0,44494.0
4,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO,13259.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630.0,4225.0

In [21]:
# Visualizando o formato do DataFrame

df_emprestimos.shape

(2099119, 13)

In [22]:
# Visualizando informações sobre o DataFrame

df_emprestimos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2099119 entries, 0 to 26560
Data columns (total 13 columns):
 #   Column                Dtype
---  ------                -----
 0   id_emprestimo         int64
 1   codigo_barras         object
 2   data_renovacao        object
 3   data_emprestimo       object
 4   data_devolucao        object
 5   matricula_ou_siape    float64
 6   tipo_vinculo_usuario  object
 7   id_exemplar           float64
 8   colecao               object
 9   biblioteca            object
 10  status_material       object
 11  localizacao           float64
 12  registro_sistema      float64
dtypes: float64(4), int64(1), object(8)
memory usage: 224.2+ MB

In [23]:
# Verificando quantos dados da Series "codigo_barras" são nulos

df_emprestimos["codigo_barras"].isnull().sum()

np.int64(0)

In [24]:
# Verificando se existem registros duplicados

df_emprestimos.value_counts()

id_emprestimo  codigo_barras  data_renovacao                 data_emprestimo                data_devolucao                 matricula_ou_siape  tipo_vinculo_usuario    id_exemplar  colecao            biblioteca                                                                                status_material  localizacao  registro_sistema
709704         2006021442     2010/01/17 18:56:43.923000000  2010/01/04 09:58:46.522000000  2010/02/01 13:59:02.528000000  2.008010e+09        ALUNO DE GRADUAÇÃO      199419.0     Acervo Circulante  Biblioteca Central Zila Mamede                                                            REGULAR          699.0        77866.0             7
709705         2009032168     2010/01/17 18:56:43.909000000  2010/01/04 09:58:46.549000000  2010/01/20 13:14:34.464000000  2.008010e+09        ALUNO DE GRADUAÇÃO      273487.0     Acervo Circulante  Biblioteca Central Zila Mamede                                                            REGULAR          623.0        120127.0            7
709698         2009047725     2010/01/18 14:44:41.163000000  2010/01/04 09:21:19.099000000  2010/02/02 12:02:38.444000000  2.009047e+09        ALUNO DE GRADUAÇÃO      281004.0     Acervo Circulante  Biblioteca Setorial do Centro Ciências da Saúde - CCS                                     REGULAR          651.0        123552.0            3
709686         2006017618     2010/01/26 08:07:01.738000000  2010/01/04 08:08:44.081000000  2010/02/25 07:36:25.800000000  2.008112e+09        ALUNO DE PÓS-GRADUAÇÃO  195347.0     Acervo Circulante  Biblioteca Setorial Prof. Rodolfo Helinski - Escola Agrícola de Jundiaí - EAJ  - Macaiba  REGULAR          640.0        75019.0             2
709687         L184117        2010/01/18 11:07:46.470000000  2010/01/04 08:24:21.284000000  2010/02/03 08:58:45.692000000  2.007211e+08        ALUNO DE GRADUAÇÃO      131639.0     Acervo Circulante  Biblioteca Central Zila Mamede                                                            REGULAR          609.0        44494.0             2
                                                                                                                                                                                                                                                                                                                                                  ..
10322140       2012043425     2018/01/29 21:31:14.254000000  2017/12/29 14:11:46.562000000  2018/02/27 14:49:44.000000000  2.016201e+09        ALUNO DE PÓS-GRADUAÇÃO  996694.0     Acervo Circulante  Biblioteca Setorial Prof. Alberto Moreira Campos - ­Departamento de Odontologia           REGULAR          325.0        182750.0            1
10322144       2012052321     2018/01/29 21:31:14.235000000  2017/12/29 14:11:46.621000000  2018/02/27 14:49:18.000000000  2.016201e+09        ALUNO DE PÓS-GRADUAÇÃO  1017166.0    Acervo Circulante  Biblioteca Setorial Prof. Alberto Moreira Campos - ­Departamento de Odontologia           REGULAR          330.0        187114.0            1
10322148       2013114500     2018/01/29 21:31:14.215000000  2017/12/29 14:11:46.680000000  2018/02/27 14:49:53.000000000  2.016201e+09        ALUNO DE PÓS-GRADUAÇÃO  1100141.0    Acervo Circulante  Biblioteca Setorial Prof. Alberto Moreira Campos - ­Departamento de Odontologia           REGULAR          242.0        206708.0            1
10322152       2014057666     2018/01/29 21:31:14.192000000  2017/12/29 14:11:46.742000000  2018/02/27 14:49:33.000000000  2.016201e+09        ALUNO DE PÓS-GRADUAÇÃO  1142218.0    Acervo Circulante  Biblioteca Setorial Prof. Alberto Moreira Campos - ­Departamento de Odontologia           REGULAR          228.0        207998.0            1
10322156       2014057679     2018/01/29 21:31:14.169000000  2017/12/29 14:11:46.806000000  2018/02/27 14:49:07.000000000  2.016201e+09        ALUNO DE PÓS-GRADUAÇÃO  1144790.0    Acervo Circulante  Biblioteca Setorial Prof. Alberto Moreira Campos - ­Departamento de Odontologia           REGULAR          361.0        175965.0            1
Name: count, Length: 906412, dtype: int64

In [25]:
# Removendo os registros duplicados

df_emprestimos = df_emprestimos.drop_duplicates()

In [26]:
# Importando o dataset de exemplares

df_exemplares = pd.read_parquet(os.path.join(os.path.dirname(os.getcwd()), "databases", "dados_exemplares.parquet"))

In [27]:
# Visualizando os 5 primeiros registros

df_exemplares.head(5)

,id_exemplar,codigo_barras,colecao,biblioteca,status_material,localizacao,registro_sistema
index,,,,,,,
0,5,L000003,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,694,1
1,4,L000002,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,688,1
2,3,L000001,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,638,1
3,7,L000114,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,616,5
5,10,L000041,Acervo Circulante,Biblioteca Central Zila Mamede,ESPECIAL,657,15

In [28]:
# Verificando se há algum dado nulo na Serie "codigo_barras"

df_exemplares["codigo_barras"].isnull().sum()

np.int64(0)

In [29]:
# Mesclando os DataFrames a partir dos dados da coluna "codigo_barras"

df = pd.merge(df_emprestimos, df_exemplares, how="inner", on="codigo_barras")

In [30]:
# Visualizando os 5 primeiros registros dos DataFrames mesclados

df.head(5)

,id_emprestimo,codigo_barras,data_renovacao,data_emprestimo,data_devolucao,matricula_ou_siape,tipo_vinculo_usuario,id_exemplar_x,colecao_x,biblioteca_x,status_material_x,localizacao_x,registro_sistema_x,id_exemplar_y,colecao_y,biblioteca_y,status_material_y,localizacao_y,registro_sistema_y
0,709684,L095049,NaN,2010/01/04 07:44:10.721000000,2010/01/05 16:26:12.662000000,2.008023e+09,ALUNO DE GRADUAÇÃO,13259.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630.0,4225.0,13259,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,630,4225
1,709685,L167050,NaN,2010/01/04 07:44:10.750000000,2010/01/12 07:34:13.934000000,2.008023e+09,ALUNO DE GRADUAÇÃO,70865.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647.0,25009.0,70865,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,647,25009
2,709686,2006017618,2010/01/26 08:07:01.738000000,2010/01/04 08:08:44.081000000,2010/02/25 07:36:25.800000000,2.008112e+09,ALUNO DE PÓS-GRADUAÇÃO,195347.0,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,640.0,75019.0,195347,Acervo Circulante,Biblioteca Setorial Prof. Rodolfo Helinski - E...,REGULAR,640,75019
3,709687,L184117,2010/01/18 11:07:46.470000000,2010/01/04 08:24:21.284000000,2010/02/03 08:58:45.692000000,2.007211e+08,ALUNO DE GRADUAÇÃO,131639.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,609.0,44494.0,131639,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,609,44494
4,709688,2007027500,2010/01/19 15:59:26.464000000,2010/01/04 08:27:33.569000000,2010/02/03 13:06:30.662000000,2.009046e+09,ALUNO DE GRADUAÇÃO,225646.0,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,686.0,91736.0,225646,Acervo Circulante,Biblioteca Central Zila Mamede,REGULAR,686,91736